[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "==0.60.1"
pydantic = "==1.6.1"
alembic = "==1.4.2"
psycopg2 = "==2.8.5"
uvicorn = "==0.11.8"
python-dotenv = "==0.14.0"
databases = "==0.3.2"
asyncpg = "==0.20.1"
appdirs = "==1.4.4"
attrs = "==19.3.0"
autobahn = "==20.7.1"
certifi = "==2020.6.20"
cffi = "==1.14.2"
chardet = "==3.0.4"
click = "==7.1.2"
constantly = "==15.1.0"
cryptography = "==3.0"
dateparser = "==0.7.6"
distlib = "==0.3.1"
filelock = "==3.0.12"
h11 = "==0.9.0"
hyperlink = "==20.0.1"
idna = "==2.10"
incremental = "==17.5.0"
pipenv = "==2020.6.2"
psycopg2-binary = "==2.8.5"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycparser = "==2.20"
python-dateutil = "==2.8.1"
python-editor = "==1.0.4"
pytz = "==2020.1"
regex = "==2020.7.14"
requests = "==2.24.0"
six = "==1.15.0"
starlette = "==0.13.6"
txaio = "==20.4.1"
tzlocal = "==2.1"
urllib3 = "==1.25.10"
virtualenv = "==20.0.29"
virtualenv-clone = "==0.5.4"
websockets = "==8.1"
"zope.interface" = "==5.1.0"
FastAPI-SQLAlchemy = "==0.1.5"
APScheduler = "==3.6.3"
Automat = "==20.2.0"
Mako = "==1.1.3"
MarkupSafe = "==1.1.1"
PyHamcrest = "==2.0.2"
pyOpenSSL = "==19.1.0"
service_identity = "==18.1.0"
SQLAlchemy = "==1.3.18"
Twisted = "==20.3.0"
nest-asyncio = "==1.4.0"
aiohttp = "==3.6.2"
async-timeout = "==3.0.1"
multidict = "==4.7.6"
yarl = "==1.5.1"

[requires]
python_version = "3.8"
