apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: <namespace>
spec:
  ports:
    - port: 6379
  selector:
    app: redis
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-api
  namespace: <namespace>
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      namespace: <namespace>
      labels:
        app: redis
    spec:
      containers:
        - name: redis-api
          image: redis:latest
          ports:
            - containerPort: 6379
