apiVersion: batch/v1
kind: CronJob
metadata:
  name: <cron_name>
  namespace: <namespace>
spec:
  schedule: "0 0 * * *"
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 3600
      template:
        spec:
          nodeSelector:
            kubernetes.io/hostname: <kubernetes-node-name>
          volumes:
            - name: postgres-data
              persistentVolumeClaim:
                claimName: local-age-of-gold-pvc
          containers:
            - name: cron-worker
              image: <docker_hub_name>/<cron_image_name>:<tag>
              volumeMounts:
                - mountPath: /src/static/uploads
                  name: postgres-data
              envFrom:
                - secretRef:
                    name: fastapi-secret
              env:
                - name: POSTGRES_URL
                  value: <postgres_url>
                - name: POSTGRES_PORT
                  value: "5432"
              args:
                - python
                - main_cron.py
          restartPolicy: OnFailure
